body
{
    background-size: cover;
   
}

canvas{
    border: 10px solid white;
    border-color: darkblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px cornflowerblue;
}

.play_button
{
    width: 130px;
    font-size: 25px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}